/* Soluzione qui */

/*tablet 768px*/
@media screen and (min-width: 768px) {
    /*header*/
    #topbar {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }

    /*main*/
    main {
        padding: 40px;
    }

    .recipe-origin {
        display: inline-block;
    }

    .recipe-name {
        font-weight: 900;
        font-size: xx-large;
    }

    .quick-notes ul {
       display: flex;
       flex-wrap: wrap;
       justify-content: flex-start;
    }

    .quick-notes li {
        flex-basis: calc(100% / 3);
    }
 
    .btn {
        padding: 10px 50px;
    }

    .ads {
        display: block;
    }

    .presentation img {
       float: inline-start;
       margin-right: 10px;
    }
}

/*Desktop 992px*/
@media screen and (min-width: 992px) {
    /*Main*/
    main {
        padding: 60px;
    }

    .container {
        width: 100%;
        margin: 0 auto;
    }

    .recipe-name {
        font-weight: 900;
        font-size: 40px;
    }

    .recipe-card {
       display: flex;
    }

    .recipe-video {
       flex-basis: 100%;
    }

    .recipe-info {
       display: flex;
       flex-direction: column;
       flex-basis: 30%;
    }

    .quick-notes li {
      flex-basis: auto;
    }

    .btn {
        display: flex;
        gap: 10px;
        padding: 10px 20px;
    }

    .social-networks .label {
        display: inline-block;
    }

    footer {
        display: flex;
        justify-content: space-between;
    }

    address {
        text-align: left;
    }

}

/*mobile large 576px*/
@media screen and (min-width: 576px) {
    .presentation img {
        float: inline-start;
        margin-right: 10px;
     }

     .btn {
        padding: 10px 25px;
    }
}
